{% extends 'base.html' %}

{% block content %}

<div class="form-container">

<h2>Ajouter une sneaker</h2>

<form action="/insert" method="POST">

<div class="form-group">
<label>Nom</label>
<input type="text" name="nom" required>
</div>

<div class="form-group">
<label>Prix</label>
<input type="number"
       step="0.01"
       name="prix"
       required>
</div>

<div class="form-group">
<label>Image URL</label>
<input type="text"
       name="image"
       required>
</div>

<div class="form-group">
<label>Marque</label>

<select name="marque">

{% for marque in marques %}
<option value="{{ marque.id }}">
{{ marque.nom }}
</option>
{% endfor %}

</select>

</div>

<div class="form-group">
<label>Catégorie</label>

<select name="categorie">

{% for categorie in categories %}
<option value="{{ categorie.id }}">
{{ categorie.nom }}
</option>
{% endfor %}

</select>

</div>

<div class="form-group">
<label>Couleur</label>

<select name="couleur">

{% for couleur in couleurs %}
<option value="{{ couleur.id }}">
{{ couleur.nom }}
</option>
{% endfor %}

</select>

</div>

<div class="form-group">
<label>Pointure</label>

<select name="taille">

{% for taille in tailles %}
<option value="{{ taille.id }}">
{{ taille.pointure }}
</option>
{% endfor %}

</select>

</div>

<button
 class="submit-btn">
 Ajouter
</button>

</form>

</div>

{% endblock %}